<% @users.each do |user| %>
<h1>follower 一覧</h1>
<table class="table table-hover table-inverse">
<tr>
  
  <td><%= attachment_image_tag(user, :profile_image, :fill, 50, 50, fallback: "no-image-icon.jpg")%></td>
  <td>  <%= user.name %> </td>
  <td></td>
  <td></td>
  <td><%= link_to '詳細', user_path(user) %></td>
</tr>

</table>
<% end %>